In [1]:
import pandas as pd

In [2]:
from all_processes.load_yaml_vars import LoadYamlVars

In [3]:
load_object = LoadYamlVars('/Users/timdunn/movie_project/all_processes/movie_configuration.yaml')

In [4]:
titleS = pd.read_csv(load_object.imdb_title_path, sep='\t', usecols=['tconst', 'titleType'])

In [5]:
from common_methods import *

In [6]:
imdb_data = reset_and_copy(titleS.loc[titleS['titleType'].isin(['movie', 'video', 'tvMovie'])])

In [8]:
extras = pd.read_csv('/Users/timdunn/Desktop/imdb_extras.csv', usecols=['tconst'])

In [9]:
extras_left = reset_and_copy(imdb_data.loc[~imdb_data['tconst'].isin(extras['tconst'])])

In [11]:
imdb_data.loc[~imdb_data['tconst'].isin(extras['tconst'])]

            tconst titleType
86733    tt0114180   tvMovie
86734    tt0114181   tvMovie
86735    tt0114182   tvMovie
208191   tt0317132     movie
240295   tt0379975     movie
...            ...       ...
1046812  tt9611872     movie
1046813  tt9611876     movie
1051241  tt9759072     movie
1055959  tt9916730     movie
1055960  tt9916754     movie

[134071 rows x 2 columns]

In [10]:
extras_left

           tconst titleType
0       tt0114180   tvMovie
1       tt0114181   tvMovie
2       tt0114182   tvMovie
3       tt0317132     movie
4       tt0379975     movie
...           ...       ...
134066  tt9611872     movie
134067  tt9611876     movie
134068  tt9759072     movie
134069  tt9916730     movie
134070  tt9916754     movie

[134071 rows x 2 columns]

In [7]:
imdb_data

            tconst titleType
0        tt0000009     movie
1        tt0000147     movie
2        tt0000502     movie
3        tt0000574     movie
4        tt0000591     movie
...            ...       ...
1055956  tt9916680     movie
1055957  tt9916692   tvMovie
1055958  tt9916706     movie
1055959  tt9916730     movie
1055960  tt9916754     movie

[1055961 rows x 2 columns]

In [ ]:
imdb_main_path = '/Users/timdunn/Desktop/'

In [ ]:
from all_processes.add_all_imdb_info import AddAllImdbInfo

In [ ]:
imdb_info_object = AddAllImdbInfo(
    configuration_file='/Users/timdunn/movie_project/all_processes/movie_configuration.yaml')

In [ ]:
imdb_info_object.run_with_exceptions(30)